@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: 'KIMM_Bold';
}
#sampleImg{
    width: 960px;
    border-right: 3px dotted white;
    margin: 0;
}

.container{
    display: flex;
}
#sampleImg img {
    position: relative;
    left: 300px;
}

.contentSet{
    width: 950px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#content1, #content2{
    height: 300px;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}


h2 {
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}
p{
    color: white;
    
}
#movieDetail{
    margin: 0 auto;
    width: 500px;
    border: 1px solid white;
}
.moivePoster{
    height: 300px;
    
}
img{
    border-radius: 5%;
}
.detail{
    text-align: center;
}

.btn{
    color: black;
    background-color: gold;
    border-radius: 10%;
    padding: 10px;
}

#btnMargin{
    margin-bottom: 100px;
}

progress{
    width: 200px;
    height: 50px;
}
.gage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    color: white;
    margin-right: 10px;
}